<div id="particles-js"></div> 

<div class="contents">
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <p class="text-white">Find me in app/views/portfolio/top.html.erb</p>

    <div class="card terminal">
        <div class="card-body">
            <%# プロフィール %>
            <div id="profile" class="animated" data-animate="typed">
                <div class="card-title command-line">
                    ri$&nbsp;<span class="typing profile-typing">cat profile</span><span class="profile-cursor before">_</span>
                </div>
                <div class="fade-in">
                    <table>
                        <tr>
                            <td class="profile-title">REAL_NAME:</td>
                            <td>千葉親理</td>
                        </tr>
                        <tr>
                            <td class="profile-title">HANDLE_NAME:</td>
                            <td>Ri</td>
                        </tr>
                        <tr>
                            <td class="profile-title">BIRTHDAY:</td>
                            <td>1997年3月25日</td>
                        </tr>
                        <tr>
                            <td class="profile-title">AREA:</td>
                            <td>神奈川県</td>
                        </tr>
                        <tr>
                            <td class="profile-title">LIKE:</td>
                            <td>C#、Python</td>
                        </tr>
                        <tr>
                            <td class="profile-title">PROFILE:</td>
                            <td>
                                茨城で育ち、就職を機に神奈川に出てきました。<br>
                                高校生の時にMacBook Proを買ってもらったことで「ゲームを作ってみたい」と思い、プログラミングの世界に足を踏み入れてからは趣味の範囲で色々作って試してはを繰り返しています。<br>
                                <br>
                                就職してからはスマホアプリ、フロントエンド、バックエンド開発を中心に担当しました。<br>
                                最近は AI や IT×金融 に興味あり...。
                            </td>
                        </tr>
                    </table>
                    <div class="card-title command-line">
                        ri$&nbsp;<span class="profile-cursor">_</span>
                    </div>
                </div>
            </div>

            <%# 言語スキル一覧 %>
            <div id="language-skills" class="animated" data-animate="typed">
                <div class="card-title command-line line1">
                    ri$&nbsp;<span class="profile-cursor before">_</span>
                </div>
                <div class="card-title command-line line2">
                    ri$&nbsp;<span class="profile-cursor before">_</span>
                </div>
                <div class="card-title command-line line3">
                    ri$&nbsp;<span class="typing profile-typing">ls -l language.skills</span><span class="profile-cursor before">_</span>
                </div>
                <div class="fade-in">
                    <table>
                        <tr>
                            <td class="language-skills-title">C#</td>
                            <td class="advanced">上級（2年）</td>
                            <td>指導可能。</td>
                        </tr>
                        <tr>
                            <td class="language-skills-title">C++</td>
                            <td class="beginner">初級（2ヶ月）</td>
                            <td>調べながらであれば。</td>
                        </tr>
                        <tr>
                            <td class="language-skills-title">Python</td>
                            <td class="advanced">上級（2年）</td>
                            <td>指導可能。</td>
                        </tr>
                        <tr>
                            <td class="language-skills-title">Swift</td>
                            <td class="beginner">初級（4ヶ月）</td>
                            <td>調べながらであれば。</td>
                        </tr>
                        <tr>
                            <td class="language-skills-title">Java</td>
                            <td class="intermediate">中級（4ヶ月）</td>
                            <td>通常使用に問題なし。</td>
                        </tr>
                        <tr>
                            <td class="language-skills-title">Javascript</td>
                            <td class="advanced">上級（3年）</td>
                            <td>指導可能。</td>
                        </tr>
                        <tr>
                            <td class="language-skills-title">HTML</td>
                            <td class="intermediate">中級（2年）</td>
                            <td>通常使用に問題なし。</td>
                        </tr>
                        <tr>
                            <td class="language-skills-title">CSS</td>
                            <td class="intermediate">中級（2年）</td>
                            <td>通常使用に問題なし。</td>
                        </tr>
                        <tr>
                            <td class="language-skills-title">SCSS</td>
                            <td class="beginner">初級（1ヶ月）</td>
                            <td>個人開発で使用。</td>
                        </tr>
                        <tr>
                            <td class="language-skills-title">PHP</td>
                            <td class="beginner">初級（1年）</td>
                            <td>個人開発で使用。</td>
                        </tr>
                        <tr>
                            <td class="language-skills-title">Bash</td>
                            <td class="beginner">初級（1年）</td>
                            <td>調べながらであれば。</td>
                        </tr>
                        <tr>
                            <td class="language-skills-title">Dart</td>
                            <td class="intermediate">中級（1年）</td>
                            <td>個人開発で使用。</td>
                        </tr>
                        <tr>
                            <td class="language-skills-title">Groovy</td>
                            <td class="beginner">初級（1年）</td>
                            <td>調べながらであれば。</td>
                        </tr>
                        <tr>
                            <td class="language-skills-title">OCaml</td>
                            <td class="beginner">初級（1年）</td>
                            <td>大学で使用。</td>
                        </tr>
                        <tr>
                            <td class="language-skills-title">TypeScript</td>
                            <td class="beginner">初級（4ヶ月）</td>
                            <td>調べながらであれば。</td>
                        </tr>
                    </table>
                    <div class="card-title command-line">
                        ri$&nbsp;<span class="profile-cursor">_</span>
                    </div>
                </div>
            </div>

            <%# フレームワークスキル一覧 %>
            <div id="framework-skills" class="animated" data-animate="typed">
                <div class="card-title command-line">
                    ri$&nbsp;<span class="typing profile-typing">ls -l framework.skills</span><span class="profile-cursor before">_</span>
                </div>
                <div class="fade-in">
                    <table>
                        <tr>
                            <td class="language-skills-title">Xamarin.Forms</td>
                            <td class="advanced">上級（2年）</td>
                            <td>指導可能。</td>
                        </tr>
                        <tr>
                            <td class="language-skills-title">Xamarin.Mac</td>
                            <td class="beginner">初級（2年）</td>
                            <td>個人開発で使用。</td>
                        </tr>
                        <tr>
                            <td class="language-skills-title">Django</td>
                            <td class="intermediate">中級（2年）</td>
                            <td>通常使用に問題なし。</td>
                        </tr>
                        <tr>
                            <td class="language-skills-title">Flask</td>
                            <td class="intermediate">中級（2年）</td>
                            <td>通常使用に問題なし。</td>
                        </tr>
                        <tr>
                            <td class="language-skills-title">Vue.js</td>
                            <td class="intermediate">中級（4ヶ月）</td>
                            <td>通常使用に問題なし。</td>
                        </tr>
                        <tr>
                            <td class="language-skills-title">React</td>
                            <td class="beginner">初級（4ヶ月）</td>
                            <td>調べながらであれば。</td>
                        </tr>
                        <tr>
                            <td class="language-skills-title">Flutter</td>
                            <td class="beginner">初級（1年）</td>
                            <td>個人開発で使用。</td>
                        </tr>
                        <tr>
                            <td class="language-skills-title">Ruby on Rails</td>
                            <td class="beginner">初級（1年）</td>
                            <td>個人開発で使用。</td>
                        </tr>
                    </table>
                    <div class="card-title command-line">
                        ri$&nbsp;<span class="profile-cursor">_</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
    <h1 class="text-white">Portfolio#top</h1>
</div>
