/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
// *= require_self
// *= require_tree .
@import "bootstrap";
@font-face {
    font-family: "SFNSMono";
    src: url('SFNSMono.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* ---------------- 定数 ---------------- */

$pc-min-witdh: 1025px; // PC
$tab-horizontal-max-witdh: 1024px; // タブレット横長
$tab-vertical-max-witdh: 768px; // タブレット縦長
$sp-max-witdh: 480px; // スマホ
// タイピングのスピード
$typing-speed: 0.05s;
// カーソルの点滅スピード
$cursor-speed: 1s;
// メニューバー
$pc-menu-bar-height: 50px;
$tab-hor-menu-bar-height: 50px;
$tab-ver-menu-bar-height: 50px;
$sp-menu-bar-height: 48px;
// サイドバー
$pc-side-bar-width: 120px;
$tab-hor-side-bar-width: 120px;
$tab-ver-side-bar-width: 100px;
$sp-side-bar-width: 80px;
// ファインダー
$pc-finder-height: 500px;
$tab-hor-finder-height: 500px;
$tab-ver-finder-height: 500px;
$sp-finder-height: 400px;

/* ------------------------------- */


/* ---------------- mixin ---------------- */

@mixin pc {
    @media (min-width: ($pc-min-witdh)) {
        @content;
    }
}

@mixin tab-horizontal {
    @media (max-width: ($tab-horizontal-max-witdh)) {
        @content;
    }
}

@mixin tab-vertical {
    @media (max-width: ($tab-vertical-max-witdh)) {
        @content;
    }
}

@mixin sp {
    @media (max-width: ($sp-max-witdh)) {
        @content;
    }
}

@mixin cursor-animation($delay: 0s) {
    -webkit-animation: cursor $cursor-speed $delay infinite;
    -moz-animation: cursor $cursor-speed $delay infinite;
    animation: cursor $cursor-speed $delay infinite;
}

@mixin terminal-font() {
    font-family: "SFNSMono";
    @include pc {
        font-size: 16px;
    }
    @include tab-horizontal {
        font-size: 16px;
    }
    @include tab-vertical {
        font-size: 16px;
    }
    @include sp {
        font-size: 12px;
    }
}

@mixin terminal-menu-bar-font($pc: 13px,
$tab-hor: 13px,
$tab-ver: 13px,
$sp: 11px) {
    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
    @include pc {
        font-size: $pc;
    }
    @include tab-horizontal {
        font-size: $tab-hor, ;
    }
    @include tab-vertical {
        font-size: $tab-ver;
    }
    @include sp {
        font-size: $sp;
    }
}

@mixin fade-in($duration:0s,
$delay: 0s,
$opacity: 0) {
    opacity: $opacity;
    animation: fade-in $duration $delay forwards;
}

@mixin fade-out($duration:0s,
$delay: 0s) {
    animation: fade-out $duration $delay forwards;
}

@mixin profile-typing($word-count,
$typing-start: 0s) {
    width: #{$word-count}ch;
    -webkit-animation: delay-typing $typing-start, typing ($typing-speed * $word-count) $typing-start steps($word-count) forwards;
    -moz-animation: delay-typing $typing-start, typing ($typing-speed * $word-count) $typing-start steps($word-count) forwards;
    animation: delay-typing $typing-start, typing ($typing-speed * $word-count) $typing-start steps($word-count) forwards;
}

@mixin fake-button($pc-top,
$tab-hor-top,
$tab-ver-top,
$sp-top) {
    border-radius: 50%;
    position: relative;
    display: inline-block;
    // 終了ボタン
    &.finish {
        background-color: #f13a46;
    }
    // 縮小ボタン
    &.minimize {
        background-color: #ffc100;
    }
    // 拡大ボタン
    &.zoom {
        background-color: #00d742;
    }
    @include pc {
        height: 12px;
        width: 12px;
        top: $pc-top;
        margin-left: 8px;
    }
    @include tab-horizontal {
        height: 12px;
        width: 12px;
        top: $tab-hor-top;
        margin-left: 8px;
    }
    @include tab-vertical {
        height: 12px;
        width: 12px;
        top: $tab-ver-top;
        margin-left: 8px;
    }
    @include sp {
        height: 10px;
        width: 10px;
        top: $sp-top;
        margin-left: 6px;
    }
}

@mixin menu-bar-height {
    @include pc {
        height: $pc-menu-bar-height;
    }
    @include tab-horizontal {
        height: $tab-hor-menu-bar-height;
    }
    @include tab-vertical {
        height: $tab-ver-menu-bar-height;
    }
    @include sp {
        height: $sp-menu-bar-height;
    }
}

@mixin side-bar-width {
    @include pc {
        width: $pc-side-bar-width;
    }
    @include tab-horizontal {
        width: $tab-hor-side-bar-width;
    }
    @include tab-vertical {
        width: $tab-ver-side-bar-width;
    }
    @include sp {
        width: $sp-side-bar-width;
    }
}

@mixin finder-contents-margin {
    @include pc {
        margin-left: $pc-side-bar-width;
    }
    @include tab-horizontal {
        margin-left: $tab-hor-side-bar-width;
    }
    @include tab-vertical {
        margin-left: $tab-ver-side-bar-width;
    }
    @include sp {
        margin-left: $sp-side-bar-width;
    }
}

@mixin finder-height {
    @include pc {
        height: $pc-finder-height;
    }
    @include tab-horizontal {
        height: $tab-hor-finder-height;
    }
    @include tab-vertical {
        height: $tab-ver-finder-height;
    }
    @include sp {
        height: $sp-finder-height;
    }
}


/* ------------------------------- */

html,
body {
    height: 100%;
}

.body {
    text-align: center;
}

.contents-margin {
    @include pc {
        height: 5rem;
    }
    @include tab-horizontal {
        height: 6rem;
    }
    @include tab-vertical {
        height: 7rem;
    }
    @include sp {
        height: 8rem;
    }
}

.card-body {
    @include sp {
        padding: 8px;
    }
    ;
}

.bg-nav-bar {
    font-family: "SFNSMono";
    background-color: rgba(4, 46, 97, 0.8);
}

.disable {
    opacity: 0;
    pointer-events: none;
    cursor: default;
}


/* ---------------- ターミナル風の表示設定 ---------------- */

.terminal {
    text-align: start;
    background-color: rgba(22, 22, 22, 0.8);
    color: white;
    z-index: 5;
    margin: 0px auto;
    border-radius: 10px;
    border: 1px solid #3f3f3f;
    @include pc {
        width: 800px;
    }
    @include tab-horizontal {
        width: 600px;
    }
    @include tab-vertical {
        width: 100%;
    }
    @include sp {
        width: 100%;
    }
    @include terminal-font;
    // フェイクメニューバー
    .fake-menu-bar {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        background-color: rgb(34, 34, 34);
        margin: 0 auto;
        border-radius: 10px 10px 0 0;
        @include menu-bar-height;
        // タイトル
        .menu-bar-title {
            position: absolute;
            width: 100%;
            text-align: center;
            font-weight: bold;
            @include terminal-menu-bar-font;
            @include pc {
                top: 4px;
            }
            @include tab-horizontal {
                top: 4px;
            }
            @include tab-vertical {
                top: 4px;
            }
            @include sp {
                top: 2px;
            }
            // フォルダのアイコン画像
            .folder-icon {
                @include pc {
                    width: 17px;
                    height: 17px;
                    margin-right: 4px;
                }
                @include tab-horizontal {
                    width: 17px;
                    height: 17px;
                    margin-right: 4px;
                }
                @include tab-vertical {
                    width: 17px;
                    height: 17px;
                    margin-right: 4px;
                }
                @include sp {
                    width: 15px;
                    height: 15px;
                    margin-right: 2px;
                }
            }
        }
        // フェイクメニューボタン
        .fake-button {
            @include fake-button(8px,
            8px,
            8px,
            6px);
        }
    }
    // テーブル
    table {
        @include pc {
            margin-bottom: 0.75rem;
        }
        @include tab-horizontal {
            margin-bottom: 0.75rem;
        }
        @include tab-vertical {
            margin-bottom: 0.75rem;
        }
        @include sp {
            margin-bottom: 0.4rem;
        }
    }
    table td {
        border-collapse: collapse;
        border-spacing: 0;
        padding: 0;
    }
    table th,
    table td {
        @include terminal-font;
        line-height: 1.5;
    }
    .card-title {
        @include pc {
            margin-bottom: 0.75rem;
        }
        @include tab-horizontal {
            margin-bottom: 0.75rem;
        }
        @include tab-vertical {
            margin-bottom: 0.75rem;
        }
        @include sp {
            margin-bottom: 0.4rem;
        }
    }
    // コマンドライン入力の表示設定
    .command-line {
        display: flex;
        flex-wrap: wrap;
        &.first .profile-cursor {
            @include cursor-animation;
        }
        &.last {
            margin-bottom: 0;
        }
    }
    .typing {
        /* 
            タイピング入力表示させるためには、追加で下記パラメータが必須
            width: <文字数>ch
            -webkit-animation: typing 0.6s steps(<文字数>), caret 0.3s steps(1) infinite;
            -moz-animation: typing 0.6s steps(<文字数>), caret 0.3s steps(1) infinite;
            animation: typing 0.6s steps(<文字数>), caret 0.3s steps(1) infinite;
        */
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
    }
}

.finder {
    position: relative;
    text-align: start;
    background-color: rgb(22, 22, 22);
    color: white;
    z-index: 5;
    margin: 10px auto 0;
    border-radius: 10px;
    border: 1px solid #3f3f3f;
    width: calc(100% - 20px);
    @include finder-height;
    // サイドバー
    .finder-side-bar {
        position: absolute;
        height: 100%;
        background-color: rgb(34, 34, 34);
        border-radius: 10px 0 0 10px;
        border: solid black;
        border-width: 0 1px 0 0;
        z-index: 5;
        @include side-bar-width;
    }
    // フェイクメニューバー
    .finder-menu-bar {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        background-color: rgb(34, 34, 34);
        margin: 0 auto;
        border-radius: 10px 10px 0 0;
        @include menu-bar-height;
        // フェイクメニューボタン
        .finder-button {
            @include fake-button(16px,
            16px,
            16px,
            12px);
            &.finish {
                @include pc {
                    margin-left: 16px;
                }
                @include tab-horizontal {
                    margin-left: 16px;
                }
                @include tab-vertical {
                    margin-left: 16px;
                }
                @include sp {
                    margin-left: 12px;
                }
            }
            z-index: 6;
        }
        // 矢印アイコン
        .icon {
            @include pc {
                height: 50px;
                margin-top: 8px;
                margin-left: 16px;
                &.left {
                    margin-left: 76px;
                }
            }
            @include tab-horizontal {
                height: 50px;
                margin-top: 8px;
                margin-left: 16px;
                &.left {
                    margin-left: 76px;
                }
            }
            @include tab-vertical {
                height: 50px;
                margin-top: 8px;
                margin-left: 16px;
                &.left {
                    margin-left: 56px;
                }
            }
            @include sp {
                height: 48px;
                margin-top: 10px;
                margin-left: 10px;
                &.left {
                    margin-left: 46px;
                }
            }
            width: 30px;
            color: #3f3f3f;
            z-index: 6;
        }
        // ファインダーのタイトル
        .finder-title {
            @include terminal-menu-bar-font(15px,
            15px,
            15px,
            13px);
            font-weight: bold;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}


/* ------------------------------- */


/* ---------------- フッター設定 ---------------- */

#footer {
    position: relative;
    margin-top: 40px;
    color: #fff;
    font-family: "SFNSMono";
    text-align: left;
    a {
        text-decoration: none;
        color: #fff;
        &:hover {
            text-decoration: underline;
        }
    }
    .primary {
        background-color: rgba(26, 26, 26, 0.8);
        @include pc {
            padding: 40px 20px;
        }
        @include tab-horizontal {
            padding: 40px 20px;
        }
        @include tab-vertical {
            padding: 20px 20px;
        }
        @include sp {
            padding: 20px 20px;
        }
    }
    .secondary {
        background-color: rgba(4, 46, 97, 0.8);
        @include pc {
            display: flex;
            padding: 40px 20px;
        }
        @include tab-horizontal {
            display: flex;
            padding: 40px 20px;
        }
        @include tab-vertical {
            display: block;
            padding: 20px 20px;
        }
        @include sp {
            display: block;
            padding: 20px 20px;
        }
    }
    /* footer-logo */
    .logo {
        position: relative;
        padding: 0;
        margin: 0;
        width: 100%;
        font-weight: bold;
        @include pc {
            font-size: 26px;
        }
        @include tab-horizontal {
            font-size: 26px;
        }
        @include tab-vertical {
            font-size: 16px;
        }
        @include sp {
            font-size: 16px;
        }
    }
    /* navi */
    .navi {
        margin: 0;
        padding: 0;
        list-style: none;
        @include tab-vertical {
            font-size: 12px;
        }
        @include sp {
            font-size: 12px;
        }
        li {
            display: inline-block;
            margin: 0 20px 0 0;
            padding: 0;
            @include tab-vertical {
                margin-top: 5px;
                font-size: 12px;
            }
            @include sp {
                margin-top: 5px;
                font-size: 12px;
            }
            &:first-child {
                margin-left: 0;
            }
        }
    }
    /* sns-navi */
    .sns-navi {
        @include pc {
            margin: 0 0 0 auto;
            padding: 0;
        }
        @include tab-horizontal {
            margin: 0 0 0 auto;
            padding: 0;
        }
        @include tab-vertical {
            margin: 20px 0 0;
            padding: 0;
        }
        @include sp {
            margin: 20px 0 0;
            padding: 0;
        }
        li {
            display: inline-block;
            margin: 0 20px 0 0;
            padding: 0;
            @include pc {
                font-size: 20px;
            }
            @include tab-horizontal {
                font-size: 20px;
            }
            @include tab-vertical {
                font-size: 18px;
            }
            @include sp {
                font-size: 18px;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    /* sitenavi */
    .sitenavi {
        margin: 0;
        padding: 0;
        list-style: none;
        @include pc {
            width: 50%;
        }
        @include tab-horizontal {
            width: 50%;
        }
        @include tab-vertical {
            width: 100%;
            text-align: center;
            font-size: 12px;
        }
        @include sp {
            width: 100%;
            text-align: center;
            font-size: 12px;
        }
        li {
            display: inline-block;
            margin: 0 0 0 20px;
            padding: 0;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    /* copyright */
    .copyright {
        padding: 0;
        @include pc {
            width: 100%;
            margin: 0;
            text-align: right;
        }
        @include tab-horizontal {
            width: 100%;
            margin: 0;
            text-align: right;
        }
        @include tab-vertical {
            width: 100%;
            margin: 20px 0 0;
            text-align: center;
            font-size: 12px;
        }
        @include sp {
            width: 100%;
            margin: 20px 0 0;
            text-align: center;
            font-size: 12px;
        }
    }
}


/* link */

.link {
    margin: 10px 0 0;
    padding: 0;
    @include tab-vertical {
        font-size: 12px;
    }
    @include sp {
        font-size: 12px;
    }
}


/* navi */

.navi-row {
    @include pc {
        display: flex;
        margin-top: 40px;
    }
    @include tab-horizontal {
        display: flex;
        margin-top: 40px;
    }
    @include tab-vertical {
        display: block;
        margin-top: 15px;
    }
    @include sp {
        display: block;
        margin-top: 15px;
    }
}


/* ------------------------------- */

@-webkit-keyframes cursor {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes cursor {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes cursor {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes typing {
    from {
        width: 0;
    }
}

@-moz-keyframes typing {
    from {
        width: 0;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

@-webkit-keyframes delay-typing {
    from {
        width: 0;
    }
    to {
        width: 0;
    }
}

@-moz-keyframes delay-typing {
    from {
        width: 0;
    }
    to {
        width: 0;
    }
}

@keyframes delay-typing {
    from {
        width: 0;
    }
    to {
        width: 0;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}